.search-bar:focus,
.search-bar:active {
	border: 2px solid var(--search-outline-color);
}

.search-bar {
	border: 2px solid var(--secondary-color);
	background-color: var(--search-bg-color);
	color: var(--search-text-color);
	font-weight: 600;

	&::placeholder {
		font-weight: 600;
		color: var(--search-placeholder-color);
	}
}

.search-icon {
	color: var(--search-icon-color);
}

.close-icon {
	color: var(--close-icon-color);
	cursor: pointer;

	&.fadeOut {
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s linear 300ms, opacity 300ms;
	}
	&.fadeIn {
		visibility: visible;
		opacity: 1;
		transition: visibility 0s linear 0s, opacity 300ms;
	}
}
